<html>

<head>
  <title>Timestamp API</title>
</head>

<body>
  <h3>Timestamp API</h3>
  <b>How to Use:</b><br>
  <table width="100%">
    <tr>
      <th>Route</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>/api/timestamp</td>
      <td>Show the current time in unix and UTC form.</td>
    </tr>
    <tr>
      <td>/api/timestamp/{Integer}</td>
      <td>Show the time from the unix stamp given.</td>
    </tr>
    <tr>
      <td>/api/timestamp/{Date}</td>
      <td>Show the time and date given.</td>
    </tr>
  </table>
</body>

</html>